*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 0;
    width: 600px;
    height: 600px;
}

.square {
    box-sizing: border-box;
    border: none;
    background-color: white;
}

.hovered {
    background-color: aqua;
}
.erased {
    background-color: white;
}
.painted {
    background-color: aqua;
}


body {
    background-color: #eeeeee;
}

h1 {
    color: #272829;
    font-size: 60px;
    text-align: center;
    padding: 30px;
}

.flexWrapper {
    display: flex;
    justify-content: space-evenly
}
.gridWraper {
    margin-right: 60px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 10px 35px;
    margin: 10px;
    border-radius: 12px;
}

.picker {
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 80px;
    height: 80px;
    background-color: transparent;
}

.picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

