*{
    margin: 0px;
    padding: 0px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 0;
    width: 600px;
    height: 600px;
}

.square {
    box-sizing: border-box;
    border: solid black 0.1em;
}

.hovered {
    background-color: aqua;
}